# By default all files will be ignored
# Patterns prefixed with an "!" are "unignored" aka "unhidden"
/*

!.github
!.gitignore

!d
!dt
!g
!get-yay
!hide
!la
!laa
!ll
!pw
!pwdcp
!rsync-it
!scs
!unhide
!v
